@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/defaul-styling";

.search-form {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @include tablet {
      display: flex;
    }
  }
  &__input-container {
    border: 1px solid $secondary-mercury;
    border-radius: 4px;
    display: flex;
    width: 80%;
    padding: 1rem;
    background-color: $secondary-alabaster;
    @include tablet {
      width: 240px;
    }
  }
  &__ava {
    border-radius: 50%;
    width: 3.6rem;
    height: 3.6rem;
    @include tablet {
      display: none;
    }
  }
  &__ava-tablet {
    display: none;
    @include tablet {
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      display: block;
    }
  }
  &__input {
    border: none;
    display: flex;
    justify-content: center;
    width: 80%;
    font-family: inherit;
    color: $primary-black;
    background-color: inherit;
  }

  &__button {
    margin-top: 2rem;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8rem;
    text-transform: uppercase;
    background-color: $primary-blue;
    border-radius: 4px;
    color: $primary-white;
    border: none;
    @include tablet {
      margin-top: 0rem;
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      width: 15rem;
    }
  }

  @include tablet {
    &__tablet-size-container {
      display: flex;
      gap: 2rem;
    }
  }
  &__upload {
    margin-right: 0.5rem;
    vertical-align: sub;
  }
}
