*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 16px;

  @include tablet {
    margin: 0 36px;
  }

  @include desktop {
    max-width: 1020px;
    margin: 0 auto;
  }
}
