@use "variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}



@mixin reset-list {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
}

@mixin mobile-padding {
  padding: 1.6rem 1.6rem 2.4rem 1.6rem;
}

@mixin tablet-padding {
  padding: 2.4rem 2.4rem 3.6rem 2.4rem;
}

@mixin desktop-padding {
  padding: 2.4rem 2.4rem 3.6rem 2.4rem;
}
