$basic-black: #000000;
$basic-white: #FFFFFF;
$brand-black: #323232;
$silver: #AFAFAF;
$blue: #0095FF;
$darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$error: #D22D2D;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
