$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


$primary-black: #323232;
$primary-silver: #AFAFAF;
$primary-white: #ffffff;
$primary-blue: #0095ff;
$secondary-darkblack: #000000;
$secondary-darkblue: #0065ad;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;