@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/defaul-styling";

.aside-video {
  @include mobile-padding;
  @include tablet {
    padding: 3.6rem 2.4rem 2.4rem 2.4rem;
  }
  @include desktop {
    padding: 3.6rem 2.4rem 2.4rem 2.4rem;
    width: 60%;
  }
  &__next-title {
    text-transform: uppercase;
    color: $primary-silver;
    font-weight: 700;
  }
}
